/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101331;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid #101331;
  border-radius: 999px;
  background: #d1d5db;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f3f4f6;
}