@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../../../@styles/typography.scss");

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Nunito", "Architects Daughter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  @apply bg-black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-sky-100 border-4 border-slate-500;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

body {
  @apply text-stone-50 bg-sky-50;
}

input,
textarea {
  @apply outline-none;
}

form .form-group {
  @apply mb-2;
  input,
  textarea,
  select {
    @apply w-full rounded-md py-1 px-2 focus:ring-2 focus:ring-pink-400;
  }
}

.section-title {
  @apply font-semibold text-4xl text-center uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
