<div class="flex items-center mb-6">
  <div
    class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-gray-50">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
    </svg>
  </div>
  <h3 class="text-2xl ml-4 font-semibold leading-normal">Hard Skills</h3>
</div>
<div class="flex flex-col items-stretch text-gray-50 text-sm mb-4">
  <div class="flex items-stretch mb-2 rounded-lg overflow-hidden">
    <div class="bg-teal-500 py-2 w-44 flex justify-center">CSS3 & HTML5</div>
    <div class="background bg-gray-300 w-full flex items-center">
      <div class="thumb bg-teal-700 h-full" style="width: 60%;">&nbsp;</div>
      <span class="px-2 text-gray-600">60%</span>
    </div>
  </div>

  <div class="flex items-stretch mb-2 rounded-lg overflow-hidden">
    <div class="bg-teal-500 py-2 w-44 flex justify-center">Docker</div>
    <div class="background bg-gray-300 w-full flex items-center">
      <div class="thumb bg-teal-700 h-full" style="width: 50%;">&nbsp;</div>
      <span class="px-2 text-gray-600">50%</span>
    </div>
  </div>

  <div class="flex items-stretch mb-2 rounded-lg overflow-hidden">
    <div class="bg-teal-500 py-2 w-44 flex justify-center">Laravel</div>
    <div class="background bg-gray-300 w-full flex items-center">
      <div class="thumb bg-teal-700 h-full" style="width: 80%;">&nbsp;</div>
      <span class="px-2 text-gray-600">80%</span>
    </div>
  </div>

  <div class="flex items-stretch mb-2 rounded-lg overflow-hidden">
    <div class="bg-teal-500 py-2 w-44 flex justify-center">React JS</div>
    <div class="background bg-gray-300 w-full flex items-center">
      <div class="thumb bg-teal-700 h-full" style="width: 90%;">&nbsp;</div>
      <span class="px-2 text-gray-600">90%</span>
    </div>
  </div>

  <div class="flex items-stretch mb-2 rounded-lg overflow-hidden">
    <div class="bg-teal-500 py-2 w-44 flex justify-center">React Native</div>
    <div class="background bg-gray-300 w-full flex items-center">
      <div class="thumb bg-teal-700 h-full" style="width: 60%;">&nbsp;</div>
      <span class="px-2 text-gray-600">60%</span>
    </div>
  </div>

  <div class="flex items-stretch mb-2 rounded-lg overflow-hidden">
    <div class="bg-teal-500 py-2 w-44 flex justify-center">Tailwind</div>
    <div class="background bg-gray-300 w-full flex items-center">
      <div class="thumb bg-teal-700 h-full" style="width: 75%;">&nbsp;</div>
      <span class="px-2 text-gray-600">75%</span>
    </div>
  </div>

  <div class="flex items-stretch mb-2 rounded-lg overflow-hidden">
    <div class="bg-teal-500 py-2 w-44 flex justify-center">Vue.js</div>
    <div class="background bg-gray-300 w-full flex items-center">
      <div class="thumb bg-teal-700 h-full" style="width: 80%;">&nbsp;</div>
      <span class="px-2 text-gray-600">80%</span>
    </div>
  </div>
</div>