<section id="about" class="pb-32 pt-20 md:my-0 w-full bg-gray-200">
  <div class="max-w-screen-lg mx-auto">

    <!-- Title -->
    <h1 class="w-full mb-2 text-5xl font-bold leading-tight text-center text-gray-800" data-aos="fade-up">
      About
    </h1>
    <div class="w-full mb-20" data-aos="fade-up">
      <div class="h-1 mx-auto bg-teal-600 w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>

    <!-- Services -->
    <module href="/components/about/services.html"></module>

    <div class="flex flex-wrap my-32">
      <!-- Profile Card -->
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <module href="/components/about/profile-card.html"></module>
      </div>

      <!-- Skills -->
      <div class="text-left w-full md:w-6/12 px-4 mr-auto ml-auto">
        <module href="/components/about/hard-skills.html"></module>
        <module href="/components/about/soft-skills.html"></module>
      </div>
    </div>
  </div>
</section>

<section class="relative bg-gray-100">
  <div class="bg-gray-200 bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
    style="height: 80px;"><svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>

  <div class="max-w-screen-lg mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red">
          <img alt="..."
            src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=80"
            class="w-full align-middle rounded-t-lg">
          <blockquote class="relative p-8 mb-4"><svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95" class="absolute left-0 w-full block" style="height: 95px; top: -94px">
              <polygon points="-30,95 583,95 583,65" class="text-red fill-current"></polygon>
            </svg>
            <h4 class="text-xl font-bold text-gray-50">Front-end experiences</h4>
            <p class="text-md font-light mt-2 text-gray-100">
              I enjoy working on the front-end more than I enjoy the back-end part, maybe because
              of the part where I can actually see what I do. I also excel more on the Javascript part rather
              than the styling part. I always recommend using Typescript instead of Javascript so that it is more
              maintainable.
            </p>
          </blockquote>
        </div>
      </div>
      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-red p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gray-800">
                  <i class="fas fa-sitemap"></i></div>
                <h6 class="text-xl mb-1 font-semibold">Styling</h6>
                <p class="mb-4 text-red">
                  #bootstrap4
                  #css3
                  #lottie-view
                  #sass
                  #tailwindcss
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-red p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gray-800">
                  <i class="fas fa-drafting-compass"></i></div>
                <h6 class="text-xl mb-1 font-semibold">JavaScript</h6>
                <p class="mb-4 text-red">
                  #angular
                  #es6-es10
                  #reactjs
                  #typescript
                  #vue.js
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-red p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gray-800">
                  <i class="fas fa-newspaper"></i></div>
                <h6 class="text-xl mb-1 font-semibold">External Components</h6>
                <p class="mb-4 text-red">
                  #filepond
                  #firebase
                  #googlemaps-api
                  #sortable
                  #stripe-api
                  #zoom-api
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-red p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gray-800">
                  <i class="fas fa-file-alt"></i></div>
                <h6 class="text-xl mb-1 font-semibold">Mobile</h6>
                <p class="mb-4 text-red">#react-native #nativescript-angular</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Articles -->
    <figure class="flex flex-wrap flex-col-reverse sm:flex-row mb-12">
      <div class="w-full sm:w-1/2 p-6 mt-6" data-aos="fade-up" data-aos-duration="800">
        <img class="w-5/6 sm:h-64 mx-auto" src="./images/back-end.svg" />
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle text-left">
          <h3 class="text-3xl text-red font-bold leading-none mb-3" data-aos="fade-up">
            Back-end
          </h3>
          <figcaption class="text-gray-600 mb-8" data-aos="fade-up" data-aos-duration="1000">
            I mostly use <span class="text-red">PHP</span> and <span class="text-red">Javascript</span>
            frameworks.
            Most of my projects are built on top of <span class="text-red">Laravel</span>.
            Although some of them was written in <span class="text-red">NodeJS (with ExpressJS)</span> and <span
              class="text-red">Cake PHP</span>.
            I have also used some external <span class="text-red">APIs</span> like
            <span class="text-red">Stripe</span>,
            <span class="text-red">Zoom</span>,
            <span class="text-red">Facebook</span> and
            <span class="text-red">Google Maps</span>.
          </figcaption>
        </div>
      </div>
    </figure>

    <figure class="flex flex-wrap mb-12">
      <div class="w-5/6 sm:w-1/2 p-6 text-right">
        <h3 class="text-3xl text-green-700 font-bold leading-none mb-3" data-aos="fade-up">
          Front-end
        </h3>
        <figcaption class="text-gray-600 mb-8" data-aos="fade-up" data-aos-duration="800">
          I love <span class="text-green-700">Javascript</span>.
          Mostly used <span class="text-green-700">Vue (2 and 3)</span> for SPA.
          Also has experience in developing <span class="text-green-700">React</span> with <span
            class="text-green-700">React Hooks</span> and <span class="text-green-700">Nativescript - Angular</span> for
          mobile development.
          For my styling, i love using <span class="text-green-700">Tailwindcss</span> as it is so versatile and very
          easy to use.
          But sometime i have to use <span class="text-green-700">(SaSS, CSS, Bootstrap)</span>.
        </figcaption>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <img class="w-72 h-72 md:w-96 rounded-full md:rounded-none mx-auto object-cover" src="./images/front-end.svg"
          data-aos="fade-up" data-aos-duration="1000" />
      </div>
    </figure>

    <figure class="flex flex-wrap flex-col-reverse sm:flex-row mb-12">
      <div class="w-full sm:w-1/2 p-6 mt-6" data-aos="fade-up" data-aos-duration="1000">
        <img class="w-5/6 sm:h-64 mx-auto" src="./images/devops.svg" />
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle text-left">
          <h3 class="text-3xl text-teal font-bold leading-none mb-3" data-aos="fade-up">
            Dev-ops
          </h3>
          <figcaption class="text-gray-600 mb-8" data-aos="fade-up" data-aos-duration="800">
            I must say that dev-ops is my least favorite part of software development but it necessary.
            Currently using <span class="text-teal">Docker</span> as the main platform,
            <span class="text-teal">Drone CI</span> for building CI/CD pipelines and
            <span class="text-teal">AWS</span> is my most familiar web services out there.
            I still have much to learn when it comes to dev-ops.
          </figcaption>
        </div>
      </div>
    </figure>
  </div>
</section>