<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-2xl rounded-3xl overflow-hidden bg-teal-700 text-left">
  <img alt="..." src="/images/profile.jpg" class="w-full object-contain bg-black align-middle rounded-t-lg md:h-72">
  <blockquote class="relative p-8 mb-4">
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
      class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
      <polygon points="-30,95 583,95 583,65" class="text-teal-700 fill-current"></polygon>
    </svg>
    <h4 class="text-xl font-bold text-gray-50">WHO IS THIS GUY?</h4>
    <p class="text-md font-light mt-2 text-gray-100 mb-10">
      He is a Software Engineer for <a href="https://yns.ph/" class="text-gray-50 font-bold" target="blank">YNS
        Philippines INC</a>. He does a lot of
      javascript and back-end coding. He also has a serious passion for programming and just wants to contribute
      something good to our society.
    </p>
    <a href="#contact" class="font-bold text-blueGray-700 mt-8 text-xl text-blue-300">Contact Him</a>
  </blockquote>
</div>