<div class="flex items-center mb-6" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="bottom-bottom" data-aos-delay="600">
  <div
    class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-gray-50">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
    </svg>
  </div>
  <h3 class="text-2xl ml-4 font-semibold leading-normal">Soft Skills</h3>
</div>

<div class="flex flex-col items-stretch text-gray-50 text-sm">
  <div class="flex items-stretch mb-2 rounded-lg overflow-hidden" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="bottom-bottom" data-aos-delay="600">
    <div class="bg-teal-500 py-2 w-44 flex justify-center">Communication</div>
    <div class="background bg-gray-300 w-full flex items-center">
      <div class="thumb bg-teal-700 h-full" style="width: 70%;">&nbsp;</div>
      <span class="px-2 text-gray-600">70%</span>
    </div>
  </div>
  <div class="flex items-stretch mb-2 rounded-lg overflow-hidden" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="bottom-bottom" data-aos-delay="700">
    <div class="bg-teal-500 py-2 w-44 flex justify-center">Fast Learner</div>
    <div class="background bg-gray-300 w-full flex items-center">
      <div class="thumb bg-teal-700 h-full" style="width: 90%;">&nbsp;</div>
      <span class="px-2 text-gray-600">90&</span>
    </div>
  </div>
  <div class="flex items-stretch mb-2 rounded-lg overflow-hidden" data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="bottom-bottom" data-aos-delay="800">
    <div class="bg-teal-500 py-2 w-44 flex justify-center">Management</div>
    <div class="background bg-gray-300 w-full flex items-center">
      <div class="thumb bg-teal-700 h-full" style="width: 60%;">&nbsp;</div>
      <span class="px-2 text-gray-600">60%</span>
    </div>
  </div>
</div>