@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source Code Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  src: url('/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: black;
  src: url('/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf')
    format('truetype');
}

html {
  font-family: 'Montserrat', Montserrat, 'Roboto';
  @apply dark:text-white;
  overflow-x: hidden;
}
code,
pre {
  font-family: 'Source Code Pro';
}

.inter {
  font-family: 'Inter';
}

* {
  box-sizing: border-box;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.writing-vertical {
  writing-mode: vertical-lr;
}
