.container {
  h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #1e293b;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #1e293b;
    margin-bottom: 0.2rem;
  }

  p {
    margin-bottom: 1.5rem;
    color: #334155;
  }

  br {
    margin-bottom: 2rem;
  }

  margin-bottom: 10rem;
}
