<div class="flex flex-wrap items-center pt-64">
  <div class="w-full md:w-6/12 px-4">
    <div class="flex flex-wrap">
      <div class="w-full md:w-6/12 px-4">
        <div class="relative flex flex-col mt-4">
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-red p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gray-800">
              <i class="fas fa-sitemap"></i></div>
            <h6 class="text-xl mb-1 font-semibold">Frameworks</h6>
            <p class="mb-4 text-red">
              <span class="app-pill">Laravel</span>
              <span class="app-pill">CakePHP</span>
              <span class="app-pill">Express JS</span>
            </p>
          </div>
        </div>
        <div class="relative flex flex-col min-w-0">
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-red p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gray-800">
              <i class="fas fa-database"></i>
            </div>
            <h6 class="text-xl mb-1 font-semibold">Database</h6>
            <p class="mb-4 text-red">
              <span class="app-pill">MySQL</span>
              <span class="app-pill">Mongo DB</span>
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 px-4">
        <div class="relative flex flex-col min-w-0 mt-4">
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-red p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gray-800">
              <i class="fas fa-cloud"></i>
            </div>
            <h6 class="text-xl mb-1 font-semibold">Devops</h6>
            <p class="mb-4 text-red">
              <span class="app-pill">Docker</span>
              <span class="app-pill">AWS - Basic</span>
              <span class="app-pill">Firebase</span>
            </p>
          </div>
        </div>
        <div class="relative flex flex-col min-w-0">
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-red p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-gray-800">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
              </svg>
            </div>
            <h6 class="text-xl mb-1 font-semibold">Others</h6>
            <p class="mb-4 text-red">
              <span class="app-pill">Facebook</span>
              <span class="app-pill">Push Notification</span>
              <span class="app-pill">Stripe</span>
              <span class="app-pill">Websocket</span>
              <span class="app-pill">Zoom</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red">
      <img alt="..."
        src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=80"
        class="w-full align-middle rounded-t-lg">
      <blockquote class="relative p-8 mb-4"><svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 583 95" class="absolute left-0 w-full block" style="height: 95px; top: -94px">
          <polygon points="-30,95 583,95 583,65" class="text-red fill-current"></polygon>
        </svg>
        <h4 class="text-xl font-bold text-gray-50">Back-end experiences</h4>
        <p class="text-md font-light mt-2 text-gray-100">
          I mostly use PHP frameworks. Most of my projects are built on top of Laravel. Although some of
          them was written in NodeJS (with ExpressJS) and Cake PHP. I have also used some external APIs like Stripe,
          Zoom, Facebook and Google Maps.
        </p>
      </blockquote>
    </div>
  </div>
</div>