.app-name {
  user-select: none;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.app-letter {
  animation-delay: calc(0.1s * var(--i));
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #f9fafb, 324px 42px #f9fafb, 303px 586px #f9fafb,
    1312px 276px #f9fafb, 451px 625px #f9fafb, 521px 1931px #f9fafb, 1087px 1871px #f9fafb,
    36px 1546px #f9fafb, 132px 934px #f9fafb, 1698px 901px #f9fafb, 1418px 664px #f9fafb,
    1448px 1157px #f9fafb, 1084px 232px #f9fafb, 347px 1776px #f9fafb, 1722px 243px #f9fafb,
    1629px 835px #f9fafb, 479px 969px #f9fafb, 1231px 960px #f9fafb, 586px 384px #f9fafb,
    164px 527px #f9fafb, 8px 646px #f9fafb, 1150px 1126px #f9fafb, 665px 1357px #f9fafb,
    1556px 1982px #f9fafb, 1260px 1961px #f9fafb, 1675px 1741px #f9fafb,
    1843px 1514px #f9fafb, 718px 1628px #f9fafb, 242px 1343px #f9fafb, 1497px 1880px #f9fafb,
    1364px 230px #f9fafb, 1739px 1302px #f9fafb, 636px 959px #f9fafb, 304px 686px #f9fafb,
    614px 751px #f9fafb, 1935px 816px #f9fafb, 1428px 60px #f9fafb, 355px 335px #f9fafb,
    1594px 158px #f9fafb, 90px 60px #f9fafb, 1553px 162px #f9fafb, 1239px 1825px #f9fafb,
    1945px 587px #f9fafb, 749px 1785px #f9fafb, 1987px 1172px #f9fafb, 1301px 1237px #f9fafb,
    1039px 342px #f9fafb, 1585px 1481px #f9fafb, 995px 1048px #f9fafb, 524px 932px #f9fafb,
    214px 413px #f9fafb, 1701px 1300px #f9fafb, 1037px 1613px #f9fafb, 1871px 996px #f9fafb,
    1360px 1635px #f9fafb, 1110px 1313px #f9fafb, 412px 1783px #f9fafb, 1949px 177px #f9fafb,
    903px 1854px #f9fafb, 700px 1936px #f9fafb, 378px 125px #f9fafb, 308px 834px #f9fafb,
    1118px 962px #f9fafb, 1350px 1929px #f9fafb, 781px 1811px #f9fafb, 561px 137px #f9fafb,
    757px 1148px #f9fafb, 1670px 1979px #f9fafb, 343px 739px #f9fafb, 945px 795px #f9fafb,
    576px 1903px #f9fafb, 1078px 1436px #f9fafb, 1583px 450px #f9fafb, 1366px 474px #f9fafb,
    297px 1873px #f9fafb, 192px 162px #f9fafb, 1624px 1633px #f9fafb, 59px 453px #f9fafb,
    82px 1872px #f9fafb, 1933px 498px #f9fafb, 1966px 1974px #f9fafb, 1975px 1688px #f9fafb,
    779px 314px #f9fafb, 1858px 1543px #f9fafb, 73px 1507px #f9fafb, 1693px 975px #f9fafb,
    1683px 108px #f9fafb, 1768px 1654px #f9fafb, 654px 14px #f9fafb, 494px 171px #f9fafb,
    1689px 1895px #f9fafb, 1660px 263px #f9fafb, 1031px 903px #f9fafb, 1203px 1393px #f9fafb,
    1333px 1421px #f9fafb, 1113px 41px #f9fafb, 1206px 1645px #f9fafb, 1325px 1635px #f9fafb,
    142px 388px #f9fafb, 572px 215px #f9fafb, 1535px 296px #f9fafb, 1419px 407px #f9fafb,
    1379px 1003px #f9fafb, 329px 469px #f9fafb, 1791px 1652px #f9fafb, 935px 1802px #f9fafb,
    1330px 1820px #f9fafb, 421px 1933px #f9fafb, 828px 365px #f9fafb, 275px 316px #f9fafb,
    707px 960px #f9fafb, 1605px 1554px #f9fafb, 625px 58px #f9fafb, 717px 1697px #f9fafb,
    1669px 246px #f9fafb, 1925px 322px #f9fafb, 1154px 1803px #f9fafb, 1929px 295px #f9fafb,
    1248px 240px #f9fafb, 1045px 1755px #f9fafb, 166px 942px #f9fafb, 1888px 1773px #f9fafb,
    678px 1963px #f9fafb, 1370px 569px #f9fafb, 1974px 1400px #f9fafb, 1786px 460px #f9fafb,
    51px 307px #f9fafb, 784px 1400px #f9fafb, 730px 1258px #f9fafb, 1712px 393px #f9fafb,
    416px 170px #f9fafb, 1797px 1932px #f9fafb, 572px 219px #f9fafb, 1557px 1856px #f9fafb,
    218px 8px #f9fafb, 348px 1334px #f9fafb, 469px 413px #f9fafb, 385px 1738px #f9fafb,
    1357px 1818px #f9fafb, 240px 942px #f9fafb, 248px 1847px #f9fafb, 1535px 806px #f9fafb,
    236px 1514px #f9fafb, 1429px 1556px #f9fafb, 73px 1633px #f9fafb, 1398px 1121px #f9fafb,
    671px 1301px #f9fafb, 1404px 1663px #f9fafb, 740px 1018px #f9fafb, 1600px 377px #f9fafb,
    785px 514px #f9fafb, 112px 1084px #f9fafb, 1915px 1887px #f9fafb, 1463px 1848px #f9fafb,
    687px 1115px #f9fafb, 1268px 1768px #f9fafb, 1729px 1425px #f9fafb,
    1284px 1022px #f9fafb, 801px 974px #f9fafb, 1975px 1317px #f9fafb, 1354px 834px #f9fafb,
    1446px 1484px #f9fafb, 1283px 1786px #f9fafb, 11px 523px #f9fafb, 1842px 236px #f9fafb,
    1355px 654px #f9fafb, 429px 7px #f9fafb, 1033px 1128px #f9fafb, 157px 297px #f9fafb,
    545px 635px #f9fafb, 52px 1080px #f9fafb, 827px 1520px #f9fafb, 1121px 490px #f9fafb,
    9px 309px #f9fafb, 1744px 1586px #f9fafb, 1014px 417px #f9fafb, 1534px 524px #f9fafb,
    958px 552px #f9fafb, 1403px 1496px #f9fafb, 387px 703px #f9fafb, 1522px 548px #f9fafb,
    1355px 282px #f9fafb, 1532px 601px #f9fafb, 1838px 790px #f9fafb, 290px 259px #f9fafb,
    295px 598px #f9fafb, 1601px 539px #f9fafb, 1561px 1272px #f9fafb, 34px 1922px #f9fafb,
    1024px 543px #f9fafb, 467px 369px #f9fafb, 722px 333px #f9fafb, 1976px 1255px #f9fafb,
    766px 983px #f9fafb, 1582px 1285px #f9fafb, 12px 512px #f9fafb, 617px 1410px #f9fafb,
    682px 577px #f9fafb, 1334px 1438px #f9fafb, 439px 327px #f9fafb, 1617px 1661px #f9fafb,
    673px 129px #f9fafb, 794px 941px #f9fafb, 1386px 1902px #f9fafb, 37px 1353px #f9fafb,
    1467px 1353px #f9fafb, 416px 18px #f9fafb, 187px 344px #f9fafb, 200px 1898px #f9fafb,
    1491px 1619px #f9fafb, 811px 347px #f9fafb, 924px 1827px #f9fafb, 945px 217px #f9fafb,
    1735px 1228px #f9fafb, 379px 1890px #f9fafb, 79px 761px #f9fafb, 825px 1837px #f9fafb,
    1980px 1558px #f9fafb, 1308px 1573px #f9fafb, 1488px 1726px #f9fafb,
    382px 1208px #f9fafb, 522px 595px #f9fafb, 1277px 1898px #f9fafb, 354px 552px #f9fafb,
    161px 1784px #f9fafb, 614px 251px #f9fafb, 526px 1576px #f9fafb, 17px 212px #f9fafb,
    179px 996px #f9fafb, 467px 1208px #f9fafb, 1944px 1838px #f9fafb, 1140px 1093px #f9fafb,
    858px 1007px #f9fafb, 200px 1064px #f9fafb, 423px 1964px #f9fafb, 1945px 439px #f9fafb,
    1377px 689px #f9fafb, 1120px 1437px #f9fafb, 1876px 668px #f9fafb, 907px 1324px #f9fafb,
    343px 1976px #f9fafb, 1816px 1501px #f9fafb, 1849px 177px #f9fafb, 647px 91px #f9fafb,
    1984px 1012px #f9fafb, 1336px 1300px #f9fafb, 128px 648px #f9fafb, 305px 1060px #f9fafb,
    1324px 826px #f9fafb, 1263px 1314px #f9fafb, 1801px 629px #f9fafb, 1614px 1555px #f9fafb,
    1634px 90px #f9fafb, 1603px 452px #f9fafb, 891px 1984px #f9fafb, 1556px 1906px #f9fafb,
    121px 68px #f9fafb, 1676px 1714px #f9fafb, 516px 936px #f9fafb, 1947px 1492px #f9fafb,
    1455px 1519px #f9fafb, 45px 602px #f9fafb, 205px 1039px #f9fafb, 793px 172px #f9fafb,
    1562px 1739px #f9fafb, 1056px 110px #f9fafb, 1512px 379px #f9fafb, 1795px 1621px #f9fafb,
    1848px 607px #f9fafb, 262px 1719px #f9fafb, 477px 991px #f9fafb, 483px 883px #f9fafb,
    1239px 1197px #f9fafb, 1496px 647px #f9fafb, 1649px 25px #f9fafb, 1491px 1946px #f9fafb,
    119px 996px #f9fafb, 179px 1472px #f9fafb, 1341px 808px #f9fafb, 1565px 1700px #f9fafb,
    407px 1544px #f9fafb, 1754px 357px #f9fafb, 1288px 981px #f9fafb, 902px 1997px #f9fafb,
    1755px 1668px #f9fafb, 186px 877px #f9fafb, 1202px 1882px #f9fafb, 461px 1213px #f9fafb,
    1400px 748px #f9fafb, 1969px 1899px #f9fafb, 809px 522px #f9fafb, 514px 1219px #f9fafb,
    374px 275px #f9fafb, 938px 1973px #f9fafb, 357px 552px #f9fafb, 144px 1722px #f9fafb,
    1572px 912px #f9fafb, 402px 1858px #f9fafb, 1544px 1195px #f9fafb, 667px 1257px #f9fafb,
    727px 1496px #f9fafb, 993px 232px #f9fafb, 1772px 313px #f9fafb, 1040px 1590px #f9fafb,
    1204px 1973px #f9fafb, 1268px 79px #f9fafb, 1555px 1048px #f9fafb, 986px 1707px #f9fafb,
    978px 1710px #f9fafb, 713px 360px #f9fafb, 407px 863px #f9fafb, 461px 736px #f9fafb,
    284px 1608px #f9fafb, 103px 430px #f9fafb, 1283px 1319px #f9fafb, 977px 1186px #f9fafb,
    1966px 1516px #f9fafb, 1287px 1129px #f9fafb, 70px 1098px #f9fafb, 1189px 889px #f9fafb,
    1126px 1734px #f9fafb, 309px 1292px #f9fafb, 879px 764px #f9fafb, 65px 473px #f9fafb,
    1003px 1959px #f9fafb, 658px 791px #f9fafb, 402px 1576px #f9fafb, 35px 622px #f9fafb,
    529px 1589px #f9fafb, 164px 666px #f9fafb, 1876px 1290px #f9fafb, 1541px 526px #f9fafb,
    270px 1297px #f9fafb, 440px 865px #f9fafb, 1500px 802px #f9fafb, 182px 1754px #f9fafb,
    1264px 892px #f9fafb, 272px 1249px #f9fafb, 1289px 1535px #f9fafb, 190px 1646px #f9fafb,
    955px 242px #f9fafb, 1456px 1597px #f9fafb, 1727px 1983px #f9fafb, 635px 801px #f9fafb,
    226px 455px #f9fafb, 1396px 1710px #f9fafb, 849px 1863px #f9fafb, 237px 1264px #f9fafb,
    839px 140px #f9fafb, 1122px 735px #f9fafb, 1280px 15px #f9fafb, 1318px 242px #f9fafb,
    1819px 1148px #f9fafb, 333px 1392px #f9fafb, 1949px 553px #f9fafb, 1878px 1332px #f9fafb,
    467px 548px #f9fafb, 1812px 1082px #f9fafb, 1067px 193px #f9fafb, 243px 156px #f9fafb,
    483px 1616px #f9fafb, 1714px 933px #f9fafb, 759px 1800px #f9fafb, 1822px 995px #f9fafb,
    1877px 572px #f9fafb, 581px 1084px #f9fafb, 107px 732px #f9fafb, 642px 1837px #f9fafb,
    166px 1493px #f9fafb, 1555px 198px #f9fafb, 819px 307px #f9fafb, 947px 345px #f9fafb,
    827px 224px #f9fafb, 927px 1394px #f9fafb, 540px 467px #f9fafb, 1093px 405px #f9fafb,
    1140px 927px #f9fafb, 130px 529px #f9fafb, 33px 1980px #f9fafb, 1147px 1663px #f9fafb,
    1616px 1436px #f9fafb, 528px 710px #f9fafb, 798px 1100px #f9fafb, 505px 1480px #f9fafb,
    899px 641px #f9fafb, 1909px 1949px #f9fafb, 1311px 964px #f9fafb, 979px 1301px #f9fafb,
    1393px 969px #f9fafb, 1793px 1886px #f9fafb, 292px 357px #f9fafb, 1196px 1718px #f9fafb,
    1290px 1994px #f9fafb, 537px 1973px #f9fafb, 1181px 1674px #f9fafb,
    1740px 1566px #f9fafb, 1307px 265px #f9fafb, 922px 522px #f9fafb, 1892px 472px #f9fafb,
    384px 1746px #f9fafb, 392px 1098px #f9fafb, 647px 548px #f9fafb, 390px 1498px #f9fafb,
    1246px 138px #f9fafb, 730px 876px #f9fafb, 192px 1472px #f9fafb, 1790px 1789px #f9fafb,
    928px 311px #f9fafb, 1253px 1647px #f9fafb, 747px 1921px #f9fafb, 1561px 1025px #f9fafb,
    1533px 1292px #f9fafb, 1985px 195px #f9fafb, 728px 729px #f9fafb, 1712px 1936px #f9fafb,
    512px 1717px #f9fafb, 1528px 483px #f9fafb, 313px 1642px #f9fafb, 281px 1849px #f9fafb,
    1212px 799px #f9fafb, 435px 1191px #f9fafb, 1422px 611px #f9fafb, 1718px 1964px #f9fafb,
    411px 944px #f9fafb, 210px 636px #f9fafb, 1502px 1295px #f9fafb, 1434px 349px #f9fafb,
    769px 60px #f9fafb, 747px 1053px #f9fafb, 789px 504px #f9fafb, 1436px 1264px #f9fafb,
    1893px 1225px #f9fafb, 1394px 1788px #f9fafb, 1108px 1317px #f9fafb,
    1673px 1395px #f9fafb, 854px 1010px #f9fafb, 1705px 80px #f9fafb, 1858px 148px #f9fafb,
    1729px 344px #f9fafb, 1388px 664px #f9fafb, 895px 406px #f9fafb, 1479px 157px #f9fafb,
    1441px 1157px #f9fafb, 552px 1900px #f9fafb, 516px 364px #f9fafb, 1647px 189px #f9fafb,
    1427px 1071px #f9fafb, 785px 729px #f9fafb, 1080px 1710px #f9fafb, 504px 204px #f9fafb,
    1177px 1622px #f9fafb, 657px 34px #f9fafb, 1296px 1099px #f9fafb, 248px 180px #f9fafb,
    1212px 1568px #f9fafb, 667px 1562px #f9fafb, 695px 841px #f9fafb, 1608px 1247px #f9fafb,
    751px 882px #f9fafb, 87px 167px #f9fafb, 607px 1368px #f9fafb, 1363px 1203px #f9fafb,
    1836px 317px #f9fafb, 1668px 1703px #f9fafb, 830px 1154px #f9fafb, 1721px 1398px #f9fafb,
    1601px 1280px #f9fafb, 976px 874px #f9fafb, 1743px 254px #f9fafb, 1020px 1815px #f9fafb,
    1670px 1766px #f9fafb, 1890px 735px #f9fafb, 1379px 136px #f9fafb, 1864px 695px #f9fafb,
    206px 965px #f9fafb, 1404px 1932px #f9fafb, 1923px 1360px #f9fafb, 247px 682px #f9fafb,
    519px 1708px #f9fafb, 645px 750px #f9fafb, 1164px 1204px #f9fafb, 834px 323px #f9fafb,
    172px 1350px #f9fafb, 213px 972px #f9fafb, 1837px 190px #f9fafb, 285px 1806px #f9fafb,
    1047px 1299px #f9fafb, 1548px 825px #f9fafb, 1730px 324px #f9fafb, 1346px 1909px #f9fafb,
    772px 270px #f9fafb, 345px 1190px #f9fafb, 478px 1433px #f9fafb, 1479px 25px #f9fafb,
    1994px 1830px #f9fafb, 1744px 732px #f9fafb, 20px 1635px #f9fafb, 690px 1795px #f9fafb,
    1594px 569px #f9fafb, 579px 245px #f9fafb, 1398px 733px #f9fafb, 408px 1352px #f9fafb,
    1774px 120px #f9fafb, 1152px 1370px #f9fafb, 1698px 1810px #f9fafb, 710px 1450px #f9fafb,
    665px 286px #f9fafb, 493px 1720px #f9fafb, 786px 5px #f9fafb, 637px 1140px #f9fafb,
    764px 324px #f9fafb, 927px 310px #f9fafb, 938px 1424px #f9fafb, 1884px 744px #f9fafb,
    913px 462px #f9fafb, 1831px 1936px #f9fafb, 1527px 249px #f9fafb, 36px 1381px #f9fafb,
    1597px 581px #f9fafb, 1530px 355px #f9fafb, 949px 459px #f9fafb, 799px 828px #f9fafb,
    242px 1471px #f9fafb, 654px 797px #f9fafb, 796px 594px #f9fafb, 1365px 678px #f9fafb,
    752px 23px #f9fafb, 1630px 541px #f9fafb, 982px 72px #f9fafb, 1733px 1831px #f9fafb,
    21px 412px #f9fafb, 775px 998px #f9fafb, 335px 1945px #f9fafb, 264px 583px #f9fafb,
    158px 1311px #f9fafb, 528px 164px #f9fafb, 1978px 574px #f9fafb, 717px 1203px #f9fafb,
    734px 1591px #f9fafb, 1555px 820px #f9fafb, 16px 1943px #f9fafb, 1625px 1177px #f9fafb,
    1236px 690px #f9fafb, 1585px 1590px #f9fafb, 1737px 1728px #f9fafb, 721px 698px #f9fafb,
    1804px 1186px #f9fafb, 166px 980px #f9fafb, 1850px 230px #f9fafb, 330px 1712px #f9fafb,
    95px 797px #f9fafb, 1948px 1078px #f9fafb, 469px 939px #f9fafb, 1269px 1899px #f9fafb,
    955px 1220px #f9fafb, 1137px 1075px #f9fafb, 312px 1293px #f9fafb, 986px 1762px #f9fafb,
    1103px 1238px #f9fafb, 428px 1993px #f9fafb, 355px 570px #f9fafb, 977px 1836px #f9fafb,
    1395px 1092px #f9fafb, 276px 913px #f9fafb, 1743px 656px #f9fafb, 773px 502px #f9fafb,
    1686px 1322px #f9fafb, 1516px 1945px #f9fafb, 1334px 501px #f9fafb, 266px 156px #f9fafb,
    455px 655px #f9fafb, 798px 72px #f9fafb, 1059px 1259px #f9fafb, 1402px 1687px #f9fafb,
    236px 1329px #f9fafb, 1455px 786px #f9fafb, 146px 1228px #f9fafb, 1851px 823px #f9fafb,
    1062px 100px #f9fafb, 1220px 953px #f9fafb, 20px 1826px #f9fafb, 36px 1063px #f9fafb,
    1525px 338px #f9fafb, 790px 1521px #f9fafb, 741px 1099px #f9fafb, 288px 1489px #f9fafb,
    700px 1060px #f9fafb, 390px 1071px #f9fafb, 411px 1036px #f9fafb, 1853px 1072px #f9fafb,
    1446px 1085px #f9fafb, 1164px 874px #f9fafb, 924px 925px #f9fafb, 291px 271px #f9fafb,
    1257px 1964px #f9fafb, 1580px 1352px #f9fafb, 1507px 1216px #f9fafb, 211px 956px #f9fafb,
    985px 1195px #f9fafb, 975px 1640px #f9fafb, 518px 101px #f9fafb, 663px 1395px #f9fafb,
    914px 532px #f9fafb, 145px 1320px #f9fafb, 69px 1397px #f9fafb, 982px 523px #f9fafb,
    257px 725px #f9fafb, 1599px 831px #f9fafb, 1636px 1513px #f9fafb, 1250px 1158px #f9fafb,
    1132px 604px #f9fafb, 183px 102px #f9fafb, 1057px 318px #f9fafb, 1247px 1835px #f9fafb,
    1983px 1110px #f9fafb, 1077px 1455px #f9fafb, 921px 1770px #f9fafb, 806px 1350px #f9fafb,
    1938px 1992px #f9fafb, 855px 1260px #f9fafb, 902px 1345px #f9fafb, 658px 1908px #f9fafb,
    1845px 679px #f9fafb, 712px 1482px #f9fafb, 595px 950px #f9fafb, 1784px 1992px #f9fafb,
    1847px 1785px #f9fafb, 691px 1004px #f9fafb, 175px 1179px #f9fafb, 1666px 1911px #f9fafb,
    41px 61px #f9fafb, 971px 1080px #f9fafb, 1830px 1450px #f9fafb, 1351px 1518px #f9fafb,
    1257px 99px #f9fafb, 1395px 1498px #f9fafb, 1117px 252px #f9fafb, 1779px 597px #f9fafb,
    1346px 729px #f9fafb, 1108px 1144px #f9fafb, 402px 691px #f9fafb, 72px 496px #f9fafb,
    1673px 1604px #f9fafb, 1497px 974px #f9fafb, 1865px 1664px #f9fafb, 88px 806px #f9fafb,
    918px 77px #f9fafb, 244px 1118px #f9fafb, 256px 1820px #f9fafb, 1851px 1840px #f9fafb,
    605px 1851px #f9fafb, 634px 383px #f9fafb, 865px 37px #f9fafb, 943px 1024px #f9fafb,
    1951px 177px #f9fafb, 1097px 523px #f9fafb, 985px 1700px #f9fafb, 1243px 122px #f9fafb,
    768px 1070px #f9fafb, 468px 194px #f9fafb, 320px 1867px #f9fafb, 1850px 185px #f9fafb,
    380px 1616px #f9fafb, 468px 1294px #f9fafb, 1122px 1743px #f9fafb, 884px 299px #f9fafb,
    1300px 1917px #f9fafb, 1860px 396px #f9fafb, 1270px 990px #f9fafb, 529px 733px #f9fafb,
    1975px 1347px #f9fafb, 1885px 685px #f9fafb, 226px 506px #f9fafb, 651px 878px #f9fafb,
    1323px 680px #f9fafb, 1284px 680px #f9fafb, 238px 1967px #f9fafb, 911px 174px #f9fafb,
    1111px 521px #f9fafb, 1150px 85px #f9fafb, 794px 502px #f9fafb, 484px 1856px #f9fafb,
    1809px 368px #f9fafb, 112px 953px #f9fafb, 590px 1009px #f9fafb, 1655px 311px #f9fafb,
    100px 1026px #f9fafb, 1803px 352px #f9fafb, 865px 306px #f9fafb, 1077px 1019px #f9fafb,
    1335px 872px #f9fafb, 1647px 1298px #f9fafb, 1233px 1387px #f9fafb, 698px 1036px #f9fafb,
    659px 1860px #f9fafb, 388px 1412px #f9fafb, 1212px 458px #f9fafb, 755px 1468px #f9fafb,
    696px 1654px #f9fafb, 1144px 60px #f9fafb;
}

#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #f9fafb, 324px 42px #f9fafb, 303px 586px #f9fafb,
    1312px 276px #f9fafb, 451px 625px #f9fafb, 521px 1931px #f9fafb, 1087px 1871px #f9fafb,
    36px 1546px #f9fafb, 132px 934px #f9fafb, 1698px 901px #f9fafb, 1418px 664px #f9fafb,
    1448px 1157px #f9fafb, 1084px 232px #f9fafb, 347px 1776px #f9fafb, 1722px 243px #f9fafb,
    1629px 835px #f9fafb, 479px 969px #f9fafb, 1231px 960px #f9fafb, 586px 384px #f9fafb,
    164px 527px #f9fafb, 8px 646px #f9fafb, 1150px 1126px #f9fafb, 665px 1357px #f9fafb,
    1556px 1982px #f9fafb, 1260px 1961px #f9fafb, 1675px 1741px #f9fafb,
    1843px 1514px #f9fafb, 718px 1628px #f9fafb, 242px 1343px #f9fafb, 1497px 1880px #f9fafb,
    1364px 230px #f9fafb, 1739px 1302px #f9fafb, 636px 959px #f9fafb, 304px 686px #f9fafb,
    614px 751px #f9fafb, 1935px 816px #f9fafb, 1428px 60px #f9fafb, 355px 335px #f9fafb,
    1594px 158px #f9fafb, 90px 60px #f9fafb, 1553px 162px #f9fafb, 1239px 1825px #f9fafb,
    1945px 587px #f9fafb, 749px 1785px #f9fafb, 1987px 1172px #f9fafb, 1301px 1237px #f9fafb,
    1039px 342px #f9fafb, 1585px 1481px #f9fafb, 995px 1048px #f9fafb, 524px 932px #f9fafb,
    214px 413px #f9fafb, 1701px 1300px #f9fafb, 1037px 1613px #f9fafb, 1871px 996px #f9fafb,
    1360px 1635px #f9fafb, 1110px 1313px #f9fafb, 412px 1783px #f9fafb, 1949px 177px #f9fafb,
    903px 1854px #f9fafb, 700px 1936px #f9fafb, 378px 125px #f9fafb, 308px 834px #f9fafb,
    1118px 962px #f9fafb, 1350px 1929px #f9fafb, 781px 1811px #f9fafb, 561px 137px #f9fafb,
    757px 1148px #f9fafb, 1670px 1979px #f9fafb, 343px 739px #f9fafb, 945px 795px #f9fafb,
    576px 1903px #f9fafb, 1078px 1436px #f9fafb, 1583px 450px #f9fafb, 1366px 474px #f9fafb,
    297px 1873px #f9fafb, 192px 162px #f9fafb, 1624px 1633px #f9fafb, 59px 453px #f9fafb,
    82px 1872px #f9fafb, 1933px 498px #f9fafb, 1966px 1974px #f9fafb, 1975px 1688px #f9fafb,
    779px 314px #f9fafb, 1858px 1543px #f9fafb, 73px 1507px #f9fafb, 1693px 975px #f9fafb,
    1683px 108px #f9fafb, 1768px 1654px #f9fafb, 654px 14px #f9fafb, 494px 171px #f9fafb,
    1689px 1895px #f9fafb, 1660px 263px #f9fafb, 1031px 903px #f9fafb, 1203px 1393px #f9fafb,
    1333px 1421px #f9fafb, 1113px 41px #f9fafb, 1206px 1645px #f9fafb, 1325px 1635px #f9fafb,
    142px 388px #f9fafb, 572px 215px #f9fafb, 1535px 296px #f9fafb, 1419px 407px #f9fafb,
    1379px 1003px #f9fafb, 329px 469px #f9fafb, 1791px 1652px #f9fafb, 935px 1802px #f9fafb,
    1330px 1820px #f9fafb, 421px 1933px #f9fafb, 828px 365px #f9fafb, 275px 316px #f9fafb,
    707px 960px #f9fafb, 1605px 1554px #f9fafb, 625px 58px #f9fafb, 717px 1697px #f9fafb,
    1669px 246px #f9fafb, 1925px 322px #f9fafb, 1154px 1803px #f9fafb, 1929px 295px #f9fafb,
    1248px 240px #f9fafb, 1045px 1755px #f9fafb, 166px 942px #f9fafb, 1888px 1773px #f9fafb,
    678px 1963px #f9fafb, 1370px 569px #f9fafb, 1974px 1400px #f9fafb, 1786px 460px #f9fafb,
    51px 307px #f9fafb, 784px 1400px #f9fafb, 730px 1258px #f9fafb, 1712px 393px #f9fafb,
    416px 170px #f9fafb, 1797px 1932px #f9fafb, 572px 219px #f9fafb, 1557px 1856px #f9fafb,
    218px 8px #f9fafb, 348px 1334px #f9fafb, 469px 413px #f9fafb, 385px 1738px #f9fafb,
    1357px 1818px #f9fafb, 240px 942px #f9fafb, 248px 1847px #f9fafb, 1535px 806px #f9fafb,
    236px 1514px #f9fafb, 1429px 1556px #f9fafb, 73px 1633px #f9fafb, 1398px 1121px #f9fafb,
    671px 1301px #f9fafb, 1404px 1663px #f9fafb, 740px 1018px #f9fafb, 1600px 377px #f9fafb,
    785px 514px #f9fafb, 112px 1084px #f9fafb, 1915px 1887px #f9fafb, 1463px 1848px #f9fafb,
    687px 1115px #f9fafb, 1268px 1768px #f9fafb, 1729px 1425px #f9fafb,
    1284px 1022px #f9fafb, 801px 974px #f9fafb, 1975px 1317px #f9fafb, 1354px 834px #f9fafb,
    1446px 1484px #f9fafb, 1283px 1786px #f9fafb, 11px 523px #f9fafb, 1842px 236px #f9fafb,
    1355px 654px #f9fafb, 429px 7px #f9fafb, 1033px 1128px #f9fafb, 157px 297px #f9fafb,
    545px 635px #f9fafb, 52px 1080px #f9fafb, 827px 1520px #f9fafb, 1121px 490px #f9fafb,
    9px 309px #f9fafb, 1744px 1586px #f9fafb, 1014px 417px #f9fafb, 1534px 524px #f9fafb,
    958px 552px #f9fafb, 1403px 1496px #f9fafb, 387px 703px #f9fafb, 1522px 548px #f9fafb,
    1355px 282px #f9fafb, 1532px 601px #f9fafb, 1838px 790px #f9fafb, 290px 259px #f9fafb,
    295px 598px #f9fafb, 1601px 539px #f9fafb, 1561px 1272px #f9fafb, 34px 1922px #f9fafb,
    1024px 543px #f9fafb, 467px 369px #f9fafb, 722px 333px #f9fafb, 1976px 1255px #f9fafb,
    766px 983px #f9fafb, 1582px 1285px #f9fafb, 12px 512px #f9fafb, 617px 1410px #f9fafb,
    682px 577px #f9fafb, 1334px 1438px #f9fafb, 439px 327px #f9fafb, 1617px 1661px #f9fafb,
    673px 129px #f9fafb, 794px 941px #f9fafb, 1386px 1902px #f9fafb, 37px 1353px #f9fafb,
    1467px 1353px #f9fafb, 416px 18px #f9fafb, 187px 344px #f9fafb, 200px 1898px #f9fafb,
    1491px 1619px #f9fafb, 811px 347px #f9fafb, 924px 1827px #f9fafb, 945px 217px #f9fafb,
    1735px 1228px #f9fafb, 379px 1890px #f9fafb, 79px 761px #f9fafb, 825px 1837px #f9fafb,
    1980px 1558px #f9fafb, 1308px 1573px #f9fafb, 1488px 1726px #f9fafb,
    382px 1208px #f9fafb, 522px 595px #f9fafb, 1277px 1898px #f9fafb, 354px 552px #f9fafb,
    161px 1784px #f9fafb, 614px 251px #f9fafb, 526px 1576px #f9fafb, 17px 212px #f9fafb,
    179px 996px #f9fafb, 467px 1208px #f9fafb, 1944px 1838px #f9fafb, 1140px 1093px #f9fafb,
    858px 1007px #f9fafb, 200px 1064px #f9fafb, 423px 1964px #f9fafb, 1945px 439px #f9fafb,
    1377px 689px #f9fafb, 1120px 1437px #f9fafb, 1876px 668px #f9fafb, 907px 1324px #f9fafb,
    343px 1976px #f9fafb, 1816px 1501px #f9fafb, 1849px 177px #f9fafb, 647px 91px #f9fafb,
    1984px 1012px #f9fafb, 1336px 1300px #f9fafb, 128px 648px #f9fafb, 305px 1060px #f9fafb,
    1324px 826px #f9fafb, 1263px 1314px #f9fafb, 1801px 629px #f9fafb, 1614px 1555px #f9fafb,
    1634px 90px #f9fafb, 1603px 452px #f9fafb, 891px 1984px #f9fafb, 1556px 1906px #f9fafb,
    121px 68px #f9fafb, 1676px 1714px #f9fafb, 516px 936px #f9fafb, 1947px 1492px #f9fafb,
    1455px 1519px #f9fafb, 45px 602px #f9fafb, 205px 1039px #f9fafb, 793px 172px #f9fafb,
    1562px 1739px #f9fafb, 1056px 110px #f9fafb, 1512px 379px #f9fafb, 1795px 1621px #f9fafb,
    1848px 607px #f9fafb, 262px 1719px #f9fafb, 477px 991px #f9fafb, 483px 883px #f9fafb,
    1239px 1197px #f9fafb, 1496px 647px #f9fafb, 1649px 25px #f9fafb, 1491px 1946px #f9fafb,
    119px 996px #f9fafb, 179px 1472px #f9fafb, 1341px 808px #f9fafb, 1565px 1700px #f9fafb,
    407px 1544px #f9fafb, 1754px 357px #f9fafb, 1288px 981px #f9fafb, 902px 1997px #f9fafb,
    1755px 1668px #f9fafb, 186px 877px #f9fafb, 1202px 1882px #f9fafb, 461px 1213px #f9fafb,
    1400px 748px #f9fafb, 1969px 1899px #f9fafb, 809px 522px #f9fafb, 514px 1219px #f9fafb,
    374px 275px #f9fafb, 938px 1973px #f9fafb, 357px 552px #f9fafb, 144px 1722px #f9fafb,
    1572px 912px #f9fafb, 402px 1858px #f9fafb, 1544px 1195px #f9fafb, 667px 1257px #f9fafb,
    727px 1496px #f9fafb, 993px 232px #f9fafb, 1772px 313px #f9fafb, 1040px 1590px #f9fafb,
    1204px 1973px #f9fafb, 1268px 79px #f9fafb, 1555px 1048px #f9fafb, 986px 1707px #f9fafb,
    978px 1710px #f9fafb, 713px 360px #f9fafb, 407px 863px #f9fafb, 461px 736px #f9fafb,
    284px 1608px #f9fafb, 103px 430px #f9fafb, 1283px 1319px #f9fafb, 977px 1186px #f9fafb,
    1966px 1516px #f9fafb, 1287px 1129px #f9fafb, 70px 1098px #f9fafb, 1189px 889px #f9fafb,
    1126px 1734px #f9fafb, 309px 1292px #f9fafb, 879px 764px #f9fafb, 65px 473px #f9fafb,
    1003px 1959px #f9fafb, 658px 791px #f9fafb, 402px 1576px #f9fafb, 35px 622px #f9fafb,
    529px 1589px #f9fafb, 164px 666px #f9fafb, 1876px 1290px #f9fafb, 1541px 526px #f9fafb,
    270px 1297px #f9fafb, 440px 865px #f9fafb, 1500px 802px #f9fafb, 182px 1754px #f9fafb,
    1264px 892px #f9fafb, 272px 1249px #f9fafb, 1289px 1535px #f9fafb, 190px 1646px #f9fafb,
    955px 242px #f9fafb, 1456px 1597px #f9fafb, 1727px 1983px #f9fafb, 635px 801px #f9fafb,
    226px 455px #f9fafb, 1396px 1710px #f9fafb, 849px 1863px #f9fafb, 237px 1264px #f9fafb,
    839px 140px #f9fafb, 1122px 735px #f9fafb, 1280px 15px #f9fafb, 1318px 242px #f9fafb,
    1819px 1148px #f9fafb, 333px 1392px #f9fafb, 1949px 553px #f9fafb, 1878px 1332px #f9fafb,
    467px 548px #f9fafb, 1812px 1082px #f9fafb, 1067px 193px #f9fafb, 243px 156px #f9fafb,
    483px 1616px #f9fafb, 1714px 933px #f9fafb, 759px 1800px #f9fafb, 1822px 995px #f9fafb,
    1877px 572px #f9fafb, 581px 1084px #f9fafb, 107px 732px #f9fafb, 642px 1837px #f9fafb,
    166px 1493px #f9fafb, 1555px 198px #f9fafb, 819px 307px #f9fafb, 947px 345px #f9fafb,
    827px 224px #f9fafb, 927px 1394px #f9fafb, 540px 467px #f9fafb, 1093px 405px #f9fafb,
    1140px 927px #f9fafb, 130px 529px #f9fafb, 33px 1980px #f9fafb, 1147px 1663px #f9fafb,
    1616px 1436px #f9fafb, 528px 710px #f9fafb, 798px 1100px #f9fafb, 505px 1480px #f9fafb,
    899px 641px #f9fafb, 1909px 1949px #f9fafb, 1311px 964px #f9fafb, 979px 1301px #f9fafb,
    1393px 969px #f9fafb, 1793px 1886px #f9fafb, 292px 357px #f9fafb, 1196px 1718px #f9fafb,
    1290px 1994px #f9fafb, 537px 1973px #f9fafb, 1181px 1674px #f9fafb,
    1740px 1566px #f9fafb, 1307px 265px #f9fafb, 922px 522px #f9fafb, 1892px 472px #f9fafb,
    384px 1746px #f9fafb, 392px 1098px #f9fafb, 647px 548px #f9fafb, 390px 1498px #f9fafb,
    1246px 138px #f9fafb, 730px 876px #f9fafb, 192px 1472px #f9fafb, 1790px 1789px #f9fafb,
    928px 311px #f9fafb, 1253px 1647px #f9fafb, 747px 1921px #f9fafb, 1561px 1025px #f9fafb,
    1533px 1292px #f9fafb, 1985px 195px #f9fafb, 728px 729px #f9fafb, 1712px 1936px #f9fafb,
    512px 1717px #f9fafb, 1528px 483px #f9fafb, 313px 1642px #f9fafb, 281px 1849px #f9fafb,
    1212px 799px #f9fafb, 435px 1191px #f9fafb, 1422px 611px #f9fafb, 1718px 1964px #f9fafb,
    411px 944px #f9fafb, 210px 636px #f9fafb, 1502px 1295px #f9fafb, 1434px 349px #f9fafb,
    769px 60px #f9fafb, 747px 1053px #f9fafb, 789px 504px #f9fafb, 1436px 1264px #f9fafb,
    1893px 1225px #f9fafb, 1394px 1788px #f9fafb, 1108px 1317px #f9fafb,
    1673px 1395px #f9fafb, 854px 1010px #f9fafb, 1705px 80px #f9fafb, 1858px 148px #f9fafb,
    1729px 344px #f9fafb, 1388px 664px #f9fafb, 895px 406px #f9fafb, 1479px 157px #f9fafb,
    1441px 1157px #f9fafb, 552px 1900px #f9fafb, 516px 364px #f9fafb, 1647px 189px #f9fafb,
    1427px 1071px #f9fafb, 785px 729px #f9fafb, 1080px 1710px #f9fafb, 504px 204px #f9fafb,
    1177px 1622px #f9fafb, 657px 34px #f9fafb, 1296px 1099px #f9fafb, 248px 180px #f9fafb,
    1212px 1568px #f9fafb, 667px 1562px #f9fafb, 695px 841px #f9fafb, 1608px 1247px #f9fafb,
    751px 882px #f9fafb, 87px 167px #f9fafb, 607px 1368px #f9fafb, 1363px 1203px #f9fafb,
    1836px 317px #f9fafb, 1668px 1703px #f9fafb, 830px 1154px #f9fafb, 1721px 1398px #f9fafb,
    1601px 1280px #f9fafb, 976px 874px #f9fafb, 1743px 254px #f9fafb, 1020px 1815px #f9fafb,
    1670px 1766px #f9fafb, 1890px 735px #f9fafb, 1379px 136px #f9fafb, 1864px 695px #f9fafb,
    206px 965px #f9fafb, 1404px 1932px #f9fafb, 1923px 1360px #f9fafb, 247px 682px #f9fafb,
    519px 1708px #f9fafb, 645px 750px #f9fafb, 1164px 1204px #f9fafb, 834px 323px #f9fafb,
    172px 1350px #f9fafb, 213px 972px #f9fafb, 1837px 190px #f9fafb, 285px 1806px #f9fafb,
    1047px 1299px #f9fafb, 1548px 825px #f9fafb, 1730px 324px #f9fafb, 1346px 1909px #f9fafb,
    772px 270px #f9fafb, 345px 1190px #f9fafb, 478px 1433px #f9fafb, 1479px 25px #f9fafb,
    1994px 1830px #f9fafb, 1744px 732px #f9fafb, 20px 1635px #f9fafb, 690px 1795px #f9fafb,
    1594px 569px #f9fafb, 579px 245px #f9fafb, 1398px 733px #f9fafb, 408px 1352px #f9fafb,
    1774px 120px #f9fafb, 1152px 1370px #f9fafb, 1698px 1810px #f9fafb, 710px 1450px #f9fafb,
    665px 286px #f9fafb, 493px 1720px #f9fafb, 786px 5px #f9fafb, 637px 1140px #f9fafb,
    764px 324px #f9fafb, 927px 310px #f9fafb, 938px 1424px #f9fafb, 1884px 744px #f9fafb,
    913px 462px #f9fafb, 1831px 1936px #f9fafb, 1527px 249px #f9fafb, 36px 1381px #f9fafb,
    1597px 581px #f9fafb, 1530px 355px #f9fafb, 949px 459px #f9fafb, 799px 828px #f9fafb,
    242px 1471px #f9fafb, 654px 797px #f9fafb, 796px 594px #f9fafb, 1365px 678px #f9fafb,
    752px 23px #f9fafb, 1630px 541px #f9fafb, 982px 72px #f9fafb, 1733px 1831px #f9fafb,
    21px 412px #f9fafb, 775px 998px #f9fafb, 335px 1945px #f9fafb, 264px 583px #f9fafb,
    158px 1311px #f9fafb, 528px 164px #f9fafb, 1978px 574px #f9fafb, 717px 1203px #f9fafb,
    734px 1591px #f9fafb, 1555px 820px #f9fafb, 16px 1943px #f9fafb, 1625px 1177px #f9fafb,
    1236px 690px #f9fafb, 1585px 1590px #f9fafb, 1737px 1728px #f9fafb, 721px 698px #f9fafb,
    1804px 1186px #f9fafb, 166px 980px #f9fafb, 1850px 230px #f9fafb, 330px 1712px #f9fafb,
    95px 797px #f9fafb, 1948px 1078px #f9fafb, 469px 939px #f9fafb, 1269px 1899px #f9fafb,
    955px 1220px #f9fafb, 1137px 1075px #f9fafb, 312px 1293px #f9fafb, 986px 1762px #f9fafb,
    1103px 1238px #f9fafb, 428px 1993px #f9fafb, 355px 570px #f9fafb, 977px 1836px #f9fafb,
    1395px 1092px #f9fafb, 276px 913px #f9fafb, 1743px 656px #f9fafb, 773px 502px #f9fafb,
    1686px 1322px #f9fafb, 1516px 1945px #f9fafb, 1334px 501px #f9fafb, 266px 156px #f9fafb,
    455px 655px #f9fafb, 798px 72px #f9fafb, 1059px 1259px #f9fafb, 1402px 1687px #f9fafb,
    236px 1329px #f9fafb, 1455px 786px #f9fafb, 146px 1228px #f9fafb, 1851px 823px #f9fafb,
    1062px 100px #f9fafb, 1220px 953px #f9fafb, 20px 1826px #f9fafb, 36px 1063px #f9fafb,
    1525px 338px #f9fafb, 790px 1521px #f9fafb, 741px 1099px #f9fafb, 288px 1489px #f9fafb,
    700px 1060px #f9fafb, 390px 1071px #f9fafb, 411px 1036px #f9fafb, 1853px 1072px #f9fafb,
    1446px 1085px #f9fafb, 1164px 874px #f9fafb, 924px 925px #f9fafb, 291px 271px #f9fafb,
    1257px 1964px #f9fafb, 1580px 1352px #f9fafb, 1507px 1216px #f9fafb, 211px 956px #f9fafb,
    985px 1195px #f9fafb, 975px 1640px #f9fafb, 518px 101px #f9fafb, 663px 1395px #f9fafb,
    914px 532px #f9fafb, 145px 1320px #f9fafb, 69px 1397px #f9fafb, 982px 523px #f9fafb,
    257px 725px #f9fafb, 1599px 831px #f9fafb, 1636px 1513px #f9fafb, 1250px 1158px #f9fafb,
    1132px 604px #f9fafb, 183px 102px #f9fafb, 1057px 318px #f9fafb, 1247px 1835px #f9fafb,
    1983px 1110px #f9fafb, 1077px 1455px #f9fafb, 921px 1770px #f9fafb, 806px 1350px #f9fafb,
    1938px 1992px #f9fafb, 855px 1260px #f9fafb, 902px 1345px #f9fafb, 658px 1908px #f9fafb,
    1845px 679px #f9fafb, 712px 1482px #f9fafb, 595px 950px #f9fafb, 1784px 1992px #f9fafb,
    1847px 1785px #f9fafb, 691px 1004px #f9fafb, 175px 1179px #f9fafb, 1666px 1911px #f9fafb,
    41px 61px #f9fafb, 971px 1080px #f9fafb, 1830px 1450px #f9fafb, 1351px 1518px #f9fafb,
    1257px 99px #f9fafb, 1395px 1498px #f9fafb, 1117px 252px #f9fafb, 1779px 597px #f9fafb,
    1346px 729px #f9fafb, 1108px 1144px #f9fafb, 402px 691px #f9fafb, 72px 496px #f9fafb,
    1673px 1604px #f9fafb, 1497px 974px #f9fafb, 1865px 1664px #f9fafb, 88px 806px #f9fafb,
    918px 77px #f9fafb, 244px 1118px #f9fafb, 256px 1820px #f9fafb, 1851px 1840px #f9fafb,
    605px 1851px #f9fafb, 634px 383px #f9fafb, 865px 37px #f9fafb, 943px 1024px #f9fafb,
    1951px 177px #f9fafb, 1097px 523px #f9fafb, 985px 1700px #f9fafb, 1243px 122px #f9fafb,
    768px 1070px #f9fafb, 468px 194px #f9fafb, 320px 1867px #f9fafb, 1850px 185px #f9fafb,
    380px 1616px #f9fafb, 468px 1294px #f9fafb, 1122px 1743px #f9fafb, 884px 299px #f9fafb,
    1300px 1917px #f9fafb, 1860px 396px #f9fafb, 1270px 990px #f9fafb, 529px 733px #f9fafb,
    1975px 1347px #f9fafb, 1885px 685px #f9fafb, 226px 506px #f9fafb, 651px 878px #f9fafb,
    1323px 680px #f9fafb, 1284px 680px #f9fafb, 238px 1967px #f9fafb, 911px 174px #f9fafb,
    1111px 521px #f9fafb, 1150px 85px #f9fafb, 794px 502px #f9fafb, 484px 1856px #f9fafb,
    1809px 368px #f9fafb, 112px 953px #f9fafb, 590px 1009px #f9fafb, 1655px 311px #f9fafb,
    100px 1026px #f9fafb, 1803px 352px #f9fafb, 865px 306px #f9fafb, 1077px 1019px #f9fafb,
    1335px 872px #f9fafb, 1647px 1298px #f9fafb, 1233px 1387px #f9fafb, 698px 1036px #f9fafb,
    659px 1860px #f9fafb, 388px 1412px #f9fafb, 1212px 458px #f9fafb, 755px 1468px #f9fafb,
    696px 1654px #f9fafb, 1144px 60px #f9fafb;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #f9fafb, 1775px 1663px #f9fafb, 332px 1364px #f9fafb,
    878px 340px #f9fafb, 569px 1832px #f9fafb, 1422px 1684px #f9fafb, 1946px 1907px #f9fafb,
    121px 979px #f9fafb, 1044px 1069px #f9fafb, 463px 381px #f9fafb, 423px 112px #f9fafb,
    523px 1179px #f9fafb, 779px 654px #f9fafb, 1398px 694px #f9fafb, 1085px 1464px #f9fafb,
    1599px 1869px #f9fafb, 801px 1882px #f9fafb, 779px 1231px #f9fafb, 552px 932px #f9fafb,
    1057px 1196px #f9fafb, 282px 1280px #f9fafb, 496px 1986px #f9fafb, 1833px 1120px #f9fafb,
    1802px 1293px #f9fafb, 6px 1696px #f9fafb, 412px 1902px #f9fafb, 605px 438px #f9fafb,
    24px 1212px #f9fafb, 234px 1320px #f9fafb, 544px 344px #f9fafb, 1107px 170px #f9fafb,
    1603px 196px #f9fafb, 905px 648px #f9fafb, 68px 1458px #f9fafb, 649px 1969px #f9fafb,
    744px 675px #f9fafb, 1127px 478px #f9fafb, 714px 1814px #f9fafb, 1486px 526px #f9fafb,
    270px 1636px #f9fafb, 1931px 149px #f9fafb, 1807px 378px #f9fafb, 8px 390px #f9fafb,
    1415px 699px #f9fafb, 1473px 1211px #f9fafb, 1590px 141px #f9fafb, 270px 1705px #f9fafb,
    69px 1423px #f9fafb, 1108px 1053px #f9fafb, 1946px 128px #f9fafb, 371px 371px #f9fafb,
    1490px 220px #f9fafb, 357px 1885px #f9fafb, 363px 363px #f9fafb, 1896px 1256px #f9fafb,
    1979px 1050px #f9fafb, 947px 1342px #f9fafb, 1754px 242px #f9fafb, 514px 974px #f9fafb,
    65px 1477px #f9fafb, 1840px 547px #f9fafb, 950px 695px #f9fafb, 459px 1150px #f9fafb,
    1124px 1502px #f9fafb, 481px 940px #f9fafb, 680px 839px #f9fafb, 797px 1169px #f9fafb,
    1977px 1491px #f9fafb, 734px 1724px #f9fafb, 210px 298px #f9fafb, 816px 628px #f9fafb,
    686px 770px #f9fafb, 1721px 267px #f9fafb, 1663px 511px #f9fafb, 1481px 1141px #f9fafb,
    582px 248px #f9fafb, 1308px 953px #f9fafb, 628px 657px #f9fafb, 897px 1535px #f9fafb,
    270px 931px #f9fafb, 791px 467px #f9fafb, 1336px 1732px #f9fafb, 1013px 1653px #f9fafb,
    1911px 956px #f9fafb, 587px 816px #f9fafb, 83px 456px #f9fafb, 930px 1478px #f9fafb,
    1587px 1694px #f9fafb, 614px 1200px #f9fafb, 302px 1782px #f9fafb, 1711px 1432px #f9fafb,
    443px 904px #f9fafb, 1666px 714px #f9fafb, 1588px 1167px #f9fafb, 273px 1075px #f9fafb,
    1679px 461px #f9fafb, 721px 664px #f9fafb, 1202px 10px #f9fafb, 166px 1126px #f9fafb,
    331px 1628px #f9fafb, 430px 1565px #f9fafb, 1585px 509px #f9fafb, 640px 38px #f9fafb,
    822px 837px #f9fafb, 1760px 1664px #f9fafb, 1122px 1458px #f9fafb, 398px 131px #f9fafb,
    689px 285px #f9fafb, 460px 652px #f9fafb, 1627px 365px #f9fafb, 348px 1648px #f9fafb,
    819px 1946px #f9fafb, 981px 1917px #f9fafb, 323px 76px #f9fafb, 979px 684px #f9fafb,
    887px 536px #f9fafb, 1348px 1596px #f9fafb, 1055px 666px #f9fafb, 1402px 1797px #f9fafb,
    1300px 1055px #f9fafb, 937px 238px #f9fafb, 1474px 1815px #f9fafb, 1144px 1710px #f9fafb,
    1629px 1087px #f9fafb, 911px 919px #f9fafb, 771px 819px #f9fafb, 403px 720px #f9fafb,
    163px 736px #f9fafb, 1062px 238px #f9fafb, 1774px 818px #f9fafb, 1874px 1178px #f9fafb,
    1177px 699px #f9fafb, 1244px 1244px #f9fafb, 1371px 58px #f9fafb, 564px 1515px #f9fafb,
    1824px 487px #f9fafb, 929px 702px #f9fafb, 394px 1348px #f9fafb, 1161px 641px #f9fafb,
    219px 1841px #f9fafb, 358px 941px #f9fafb, 140px 1759px #f9fafb, 1019px 1345px #f9fafb,
    274px 436px #f9fafb, 1433px 1605px #f9fafb, 1798px 1426px #f9fafb, 294px 1848px #f9fafb,
    1681px 1877px #f9fafb, 1344px 1824px #f9fafb, 1439px 1632px #f9fafb,
    161px 1012px #f9fafb, 1308px 588px #f9fafb, 1789px 582px #f9fafb, 721px 1910px #f9fafb,
    318px 218px #f9fafb, 607px 319px #f9fafb, 495px 535px #f9fafb, 1552px 1575px #f9fafb,
    1562px 67px #f9fafb, 403px 926px #f9fafb, 1096px 1800px #f9fafb, 1814px 1709px #f9fafb,
    1882px 1831px #f9fafb, 533px 46px #f9fafb, 823px 969px #f9fafb, 530px 165px #f9fafb,
    1030px 352px #f9fafb, 1681px 313px #f9fafb, 338px 115px #f9fafb, 1607px 211px #f9fafb,
    1718px 1184px #f9fafb, 1589px 659px #f9fafb, 278px 355px #f9fafb, 464px 1464px #f9fafb,
    1165px 277px #f9fafb, 950px 694px #f9fafb, 1746px 293px #f9fafb, 793px 911px #f9fafb,
    528px 773px #f9fafb, 1883px 1694px #f9fafb, 748px 182px #f9fafb, 1924px 1531px #f9fafb,
    100px 636px #f9fafb, 1473px 1445px #f9fafb, 1264px 1244px #f9fafb, 850px 1377px #f9fafb,
    987px 1976px #f9fafb, 933px 1761px #f9fafb, 922px 1270px #f9fafb, 500px 396px #f9fafb,
    1324px 8px #f9fafb, 1967px 1814px #f9fafb, 1072px 1401px #f9fafb, 961px 37px #f9fafb,
    156px 81px #f9fafb, 1915px 502px #f9fafb, 1076px 1846px #f9fafb, 152px 1669px #f9fafb,
    986px 1529px #f9fafb, 1667px 1137px #f9fafb;
}

#stars2:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #f9fafb, 1775px 1663px #f9fafb, 332px 1364px #f9fafb,
    878px 340px #f9fafb, 569px 1832px #f9fafb, 1422px 1684px #f9fafb, 1946px 1907px #f9fafb,
    121px 979px #f9fafb, 1044px 1069px #f9fafb, 463px 381px #f9fafb, 423px 112px #f9fafb,
    523px 1179px #f9fafb, 779px 654px #f9fafb, 1398px 694px #f9fafb, 1085px 1464px #f9fafb,
    1599px 1869px #f9fafb, 801px 1882px #f9fafb, 779px 1231px #f9fafb, 552px 932px #f9fafb,
    1057px 1196px #f9fafb, 282px 1280px #f9fafb, 496px 1986px #f9fafb, 1833px 1120px #f9fafb,
    1802px 1293px #f9fafb, 6px 1696px #f9fafb, 412px 1902px #f9fafb, 605px 438px #f9fafb,
    24px 1212px #f9fafb, 234px 1320px #f9fafb, 544px 344px #f9fafb, 1107px 170px #f9fafb,
    1603px 196px #f9fafb, 905px 648px #f9fafb, 68px 1458px #f9fafb, 649px 1969px #f9fafb,
    744px 675px #f9fafb, 1127px 478px #f9fafb, 714px 1814px #f9fafb, 1486px 526px #f9fafb,
    270px 1636px #f9fafb, 1931px 149px #f9fafb, 1807px 378px #f9fafb, 8px 390px #f9fafb,
    1415px 699px #f9fafb, 1473px 1211px #f9fafb, 1590px 141px #f9fafb, 270px 1705px #f9fafb,
    69px 1423px #f9fafb, 1108px 1053px #f9fafb, 1946px 128px #f9fafb, 371px 371px #f9fafb,
    1490px 220px #f9fafb, 357px 1885px #f9fafb, 363px 363px #f9fafb, 1896px 1256px #f9fafb,
    1979px 1050px #f9fafb, 947px 1342px #f9fafb, 1754px 242px #f9fafb, 514px 974px #f9fafb,
    65px 1477px #f9fafb, 1840px 547px #f9fafb, 950px 695px #f9fafb, 459px 1150px #f9fafb,
    1124px 1502px #f9fafb, 481px 940px #f9fafb, 680px 839px #f9fafb, 797px 1169px #f9fafb,
    1977px 1491px #f9fafb, 734px 1724px #f9fafb, 210px 298px #f9fafb, 816px 628px #f9fafb,
    686px 770px #f9fafb, 1721px 267px #f9fafb, 1663px 511px #f9fafb, 1481px 1141px #f9fafb,
    582px 248px #f9fafb, 1308px 953px #f9fafb, 628px 657px #f9fafb, 897px 1535px #f9fafb,
    270px 931px #f9fafb, 791px 467px #f9fafb, 1336px 1732px #f9fafb, 1013px 1653px #f9fafb,
    1911px 956px #f9fafb, 587px 816px #f9fafb, 83px 456px #f9fafb, 930px 1478px #f9fafb,
    1587px 1694px #f9fafb, 614px 1200px #f9fafb, 302px 1782px #f9fafb, 1711px 1432px #f9fafb,
    443px 904px #f9fafb, 1666px 714px #f9fafb, 1588px 1167px #f9fafb, 273px 1075px #f9fafb,
    1679px 461px #f9fafb, 721px 664px #f9fafb, 1202px 10px #f9fafb, 166px 1126px #f9fafb,
    331px 1628px #f9fafb, 430px 1565px #f9fafb, 1585px 509px #f9fafb, 640px 38px #f9fafb,
    822px 837px #f9fafb, 1760px 1664px #f9fafb, 1122px 1458px #f9fafb, 398px 131px #f9fafb,
    689px 285px #f9fafb, 460px 652px #f9fafb, 1627px 365px #f9fafb, 348px 1648px #f9fafb,
    819px 1946px #f9fafb, 981px 1917px #f9fafb, 323px 76px #f9fafb, 979px 684px #f9fafb,
    887px 536px #f9fafb, 1348px 1596px #f9fafb, 1055px 666px #f9fafb, 1402px 1797px #f9fafb,
    1300px 1055px #f9fafb, 937px 238px #f9fafb, 1474px 1815px #f9fafb, 1144px 1710px #f9fafb,
    1629px 1087px #f9fafb, 911px 919px #f9fafb, 771px 819px #f9fafb, 403px 720px #f9fafb,
    163px 736px #f9fafb, 1062px 238px #f9fafb, 1774px 818px #f9fafb, 1874px 1178px #f9fafb,
    1177px 699px #f9fafb, 1244px 1244px #f9fafb, 1371px 58px #f9fafb, 564px 1515px #f9fafb,
    1824px 487px #f9fafb, 929px 702px #f9fafb, 394px 1348px #f9fafb, 1161px 641px #f9fafb,
    219px 1841px #f9fafb, 358px 941px #f9fafb, 140px 1759px #f9fafb, 1019px 1345px #f9fafb,
    274px 436px #f9fafb, 1433px 1605px #f9fafb, 1798px 1426px #f9fafb, 294px 1848px #f9fafb,
    1681px 1877px #f9fafb, 1344px 1824px #f9fafb, 1439px 1632px #f9fafb,
    161px 1012px #f9fafb, 1308px 588px #f9fafb, 1789px 582px #f9fafb, 721px 1910px #f9fafb,
    318px 218px #f9fafb, 607px 319px #f9fafb, 495px 535px #f9fafb, 1552px 1575px #f9fafb,
    1562px 67px #f9fafb, 403px 926px #f9fafb, 1096px 1800px #f9fafb, 1814px 1709px #f9fafb,
    1882px 1831px #f9fafb, 533px 46px #f9fafb, 823px 969px #f9fafb, 530px 165px #f9fafb,
    1030px 352px #f9fafb, 1681px 313px #f9fafb, 338px 115px #f9fafb, 1607px 211px #f9fafb,
    1718px 1184px #f9fafb, 1589px 659px #f9fafb, 278px 355px #f9fafb, 464px 1464px #f9fafb,
    1165px 277px #f9fafb, 950px 694px #f9fafb, 1746px 293px #f9fafb, 793px 911px #f9fafb,
    528px 773px #f9fafb, 1883px 1694px #f9fafb, 748px 182px #f9fafb, 1924px 1531px #f9fafb,
    100px 636px #f9fafb, 1473px 1445px #f9fafb, 1264px 1244px #f9fafb, 850px 1377px #f9fafb,
    987px 1976px #f9fafb, 933px 1761px #f9fafb, 922px 1270px #f9fafb, 500px 396px #f9fafb,
    1324px 8px #f9fafb, 1967px 1814px #f9fafb, 1072px 1401px #f9fafb, 961px 37px #f9fafb,
    156px 81px #f9fafb, 1915px 502px #f9fafb, 1076px 1846px #f9fafb, 152px 1669px #f9fafb,
    986px 1529px #f9fafb, 1667px 1137px #f9fafb;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinte;
  box-shadow: 387px 1878px #f9fafb, 760px 1564px #f9fafb, 1487px 999px #f9fafb,
    948px 1828px #f9fafb, 1977px 1001px #f9fafb, 1284px 1963px #f9fafb, 656px 284px #f9fafb,
    1268px 1635px #f9fafb, 1820px 598px #f9fafb, 642px 1900px #f9fafb, 296px 57px #f9fafb,
    921px 1620px #f9fafb, 476px 1858px #f9fafb, 658px 613px #f9fafb, 1171px 1363px #f9fafb,
    1419px 283px #f9fafb, 1037px 731px #f9fafb, 503px 663px #f9fafb, 1562px 463px #f9fafb,
    383px 1197px #f9fafb, 1171px 1233px #f9fafb, 876px 1768px #f9fafb, 856px 1615px #f9fafb,
    1375px 1924px #f9fafb, 1725px 918px #f9fafb, 952px 119px #f9fafb, 768px 1212px #f9fafb,
    992px 1462px #f9fafb, 1929px 717px #f9fafb, 1947px 755px #f9fafb, 1818px 1123px #f9fafb,
    1896px 1672px #f9fafb, 460px 198px #f9fafb, 256px 271px #f9fafb, 752px 544px #f9fafb,
    1222px 1859px #f9fafb, 1851px 443px #f9fafb, 313px 1858px #f9fafb, 709px 446px #f9fafb,
    1546px 697px #f9fafb, 674px 1155px #f9fafb, 1112px 130px #f9fafb, 355px 1790px #f9fafb,
    1496px 974px #f9fafb, 1696px 480px #f9fafb, 1316px 1265px #f9fafb, 1645px 1063px #f9fafb,
    1182px 237px #f9fafb, 427px 1582px #f9fafb, 859px 253px #f9fafb, 458px 939px #f9fafb,
    1517px 1644px #f9fafb, 1943px 60px #f9fafb, 212px 1650px #f9fafb, 966px 1786px #f9fafb,
    473px 712px #f9fafb, 130px 76px #f9fafb, 1417px 1186px #f9fafb, 909px 1580px #f9fafb,
    1913px 762px #f9fafb, 204px 1143px #f9fafb, 1998px 1057px #f9fafb, 1468px 1301px #f9fafb,
    144px 1676px #f9fafb, 21px 1601px #f9fafb, 382px 1362px #f9fafb, 912px 753px #f9fafb,
    1488px 1405px #f9fafb, 802px 156px #f9fafb, 174px 550px #f9fafb, 338px 1366px #f9fafb,
    1197px 774px #f9fafb, 602px 486px #f9fafb, 682px 1877px #f9fafb, 348px 1503px #f9fafb,
    407px 1139px #f9fafb, 950px 1400px #f9fafb, 922px 1139px #f9fafb, 1697px 293px #f9fafb,
    1238px 1281px #f9fafb, 1038px 1197px #f9fafb, 376px 1889px #f9fafb,
    1255px 1680px #f9fafb, 1008px 1316px #f9fafb, 1538px 1447px #f9fafb,
    1186px 874px #f9fafb, 1967px 640px #f9fafb, 1341px 19px #f9fafb, 29px 1732px #f9fafb,
    16px 1650px #f9fafb, 1021px 1075px #f9fafb, 723px 424px #f9fafb, 1175px 41px #f9fafb,
    494px 1957px #f9fafb, 1296px 431px #f9fafb, 175px 1507px #f9fafb, 831px 121px #f9fafb,
    498px 1947px #f9fafb, 617px 880px #f9fafb, 240px 403px #f9fafb;
}

#stars3:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px #f9fafb, 760px 1564px #f9fafb, 1487px 999px #f9fafb,
    948px 1828px #f9fafb, 1977px 1001px #f9fafb, 1284px 1963px #f9fafb, 656px 284px #f9fafb,
    1268px 1635px #f9fafb, 1820px 598px #f9fafb, 642px 1900px #f9fafb, 296px 57px #f9fafb,
    921px 1620px #f9fafb, 476px 1858px #f9fafb, 658px 613px #f9fafb, 1171px 1363px #f9fafb,
    1419px 283px #f9fafb, 1037px 731px #f9fafb, 503px 663px #f9fafb, 1562px 463px #f9fafb,
    383px 1197px #f9fafb, 1171px 1233px #f9fafb, 876px 1768px #f9fafb, 856px 1615px #f9fafb,
    1375px 1924px #f9fafb, 1725px 918px #f9fafb, 952px 119px #f9fafb, 768px 1212px #f9fafb,
    992px 1462px #f9fafb, 1929px 717px #f9fafb, 1947px 755px #f9fafb, 1818px 1123px #f9fafb,
    1896px 1672px #f9fafb, 460px 198px #f9fafb, 256px 271px #f9fafb, 752px 544px #f9fafb,
    1222px 1859px #f9fafb, 1851px 443px #f9fafb, 313px 1858px #f9fafb, 709px 446px #f9fafb,
    1546px 697px #f9fafb, 674px 1155px #f9fafb, 1112px 130px #f9fafb, 355px 1790px #f9fafb,
    1496px 974px #f9fafb, 1696px 480px #f9fafb, 1316px 1265px #f9fafb, 1645px 1063px #f9fafb,
    1182px 237px #f9fafb, 427px 1582px #f9fafb, 859px 253px #f9fafb, 458px 939px #f9fafb,
    1517px 1644px #f9fafb, 1943px 60px #f9fafb, 212px 1650px #f9fafb, 966px 1786px #f9fafb,
    473px 712px #f9fafb, 130px 76px #f9fafb, 1417px 1186px #f9fafb, 909px 1580px #f9fafb,
    1913px 762px #f9fafb, 204px 1143px #f9fafb, 1998px 1057px #f9fafb, 1468px 1301px #f9fafb,
    144px 1676px #f9fafb, 21px 1601px #f9fafb, 382px 1362px #f9fafb, 912px 753px #f9fafb,
    1488px 1405px #f9fafb, 802px 156px #f9fafb, 174px 550px #f9fafb, 338px 1366px #f9fafb,
    1197px 774px #f9fafb, 602px 486px #f9fafb, 682px 1877px #f9fafb, 348px 1503px #f9fafb,
    407px 1139px #f9fafb, 950px 1400px #f9fafb, 922px 1139px #f9fafb, 1697px 293px #f9fafb,
    1238px 1281px #f9fafb, 1038px 1197px #f9fafb, 376px 1889px #f9fafb,
    1255px 1680px #f9fafb, 1008px 1316px #f9fafb, 1538px 1447px #f9fafb,
    1186px 874px #f9fafb, 1967px 640px #f9fafb, 1341px 19px #f9fafb, 29px 1732px #f9fafb,
    16px 1650px #f9fafb, 1021px 1075px #f9fafb, 723px 424px #f9fafb, 1175px 41px #f9fafb,
    494px 1957px #f9fafb, 1296px 431px #f9fafb, 175px 1507px #f9fafb, 831px 121px #f9fafb,
    498px 1947px #f9fafb, 617px 880px #f9fafb, 240px 403px #f9fafb;
}

@keyframes animStar {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0px);
  }
}
