<div id="techStack" class="flex flex-wrap items-center text-left">
  <div class="w-full md:w-6/12 px-4 mr-auto ml-auto -mt-36">
    <div class="justify-center flex flex-wrap relative">
      <div class="my-4 w-full lg:w-6/12 px-4 lg:mt-16">
        <div
          is="app-card"
          class="bg-blue-500 bg-opacity-95 mt-8"
          title="Mobile"
          description="
            Experienced in creating lifestyle, travel, utility and business
            applications. Mostly includes the use of google maps and stripe
            payment
          "
          imageAlt="Mobile"
          imageUrl="/images/mobile.png"
          data-aos="fade-up"
          data-aos-anchor="#techStack"
          data-aos-delay="200"
          data-aos-duration="800"
        ></div>
      </div>
      <div class="my-4 w-full lg:w-6/12 px-4">
        <div
          is="app-card"
          class="bg-green-500"
          title="Web"
          description="
            Mostly developed management systems, ordering applications and
            entertainment websites.
          "
          imageAlt="..."
          imageUrl="/images/web.png"
          data-aos="fade-up"
          data-aos-anchor="#techStack"
          data-aos-duration="800"
        ></div>
        <div
          is="app-card"
          class="my-4 bg-red"
          title="DevOPS"
          description="Experience in AWS, Heroku, and Firebase."
          imageAlt="..."
          imageUrl="/images/aws.png"
          data-aos="fade-up"
          data-aos-anchor="#techStack"
          data-aos-delay="400"
          data-aos-duration="800"
        ></div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto">
    <div
      class="text-gray-500 bg-gray-50 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
      data-aos="fade-up"
    >
      <i class="fas fa-drafting-compass text-xl"></i>
    </div>
    <h3 class="text-3xl mb-2 font-semibold leading-normal" data-aos="fade-up">
      Tech stack
    </h3>
    <p
      class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
      data-aos="fade-up"
    >
      Here is a list of my most used languages, frameworks and libraries up to
      date. I am still continuously learning new and better ways to provide the
      needs of end users.
    </p>
    <div class="block pb-6" data-aos="fade-up">
      <app-pill>VueJS</app-pill>
      <app-pill>ReactJS</app-pill>
      <app-pill>React-native</app-pill>
      <app-pill>Laravel</app-pill>
      <app-pill>MySQL</app-pill>
      <app-pill>Google maps</app-pill>
      <app-pill>Stripe</app-pill>
      <app-pill>Typescript</app-pill>
    </div>
    <a
      class="font-bold text-red hover:opacity-75 ease-linear transition-all duration-150"
      href="https://stackshare.io/paolovincentarch/my-stack"
      target="__blank"
      data-aos="fade-up"
    >
      View all <i class="fa fa-angle-double-right ml-1 leading-relaxed"></i>
    </a>
  </div>
</div>
