<div class="flex flex-wrap items-center text-left">
  <div class="w-full md:w-6/12 px-4 mr-auto ml-auto -mt-36">
    <div class="justify-center flex flex-wrap relative">
      <div class="my-4 w-full lg:w-6/12 px-4 lg:mt-16">
        <div
          class="bg-red bg-opacity-95 shadow-lg rounded-lg text-center p-8 mt-8"
        >
          <img
            alt="..."
            class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-gray-50"
            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/vue.jpg"
          />
          <p class="text-lg text-gray-50 mt-4 font-semibold">Mobile</p>
          <p class="text-base text-gray-50 opacity-75 mt-2">
            Experienced in creating lifestyle, travel, utility and business
            applications. Mostly includes the use of google maps and stripe
            payment
          </p>
        </div>
      </div>
      <div class="my-4 w-full lg:w-6/12 px-4">
        <div class="bg-blue-500 shadow-lg rounded-lg text-center p-8">
          <img
            alt="..."
            class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-gray-50"
            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/react.jpg"
          />
          <p class="text-lg text-gray-50 mt-4 font-semibold">Web</p>
          <p class="text-base text-gray-50 opacity-75 mt-2">
            Mostly developed management systems, ordering applications and
            entertainment websites.
          </p>
        </div>
        <div class="my-4 bg-green-600 shadow-lg rounded-lg text-center p-8">
          <img
            alt="..."
            class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-gray-50"
            src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/js.png"
          />
          <p class="text-lg text-gray-50 mt-4 font-semibold">DevOPS</p>
          <p class="text-base text-gray-50 opacity-75 mt-2">
            Experience in AWS, Heroku, and Firebase.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto">
    <div
      class="text-gray-500 bg-gray-50 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
    >
      <i class="fas fa-drafting-compass text-xl"></i>
    </div>
    <h3 class="text-3xl mb-2 font-semibold leading-normal">Tech stack</h3>
    <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
      Here is a list of my most used languages, frameworks and libraries up to
      date. I am still continuously learning new and better ways to provide the
      needs of end users.
    </p>
    <div class="block pb-6">
      <app-pill>VueJS</app-pill>
      <app-pill>ReactJS</app-pill>
      <app-pill>React-native</app-pill>
      <app-pill>Laravel</app-pill>
      <app-pill>MySQL</app-pill>
      <app-pill>Google maps</app-pill>
      <app-pill>Stripe</app-pill>
      <app-pill>Typescript</app-pill>
    </div>
    <a
      class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150"
      href="/learning-lab/tailwind-starter-kit/documentation/vue/alerts"
      >View all<!-- -->
      <i class="fa fa-angle-double-right ml-1 leading-relaxed"></i
    ></a>
  </div>
</div>
