.container {
  perspective: 100px;
}

.image {
  transition: transform 200ms;
  transform-origin: center center;
}

/** Web */
@media screen and (min-width: 1024px) {
  .container:hover .image {
    transform: translateZ(10px);
  }
}
